:root {
    /* Primary */

    --clr-moderate-violet: hsl(263, 55%, 52%);
    --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-very-dark-blackish-blue: hsl(219, 29%, 14%);
    --clr-white: hsl(0, 0%, 100%);

    /* Neutral */

    --clr-light-gray: hsl(0, 0%, 81%);
    --clr-light-gray-mt-custom: hsl(0, 1%, 61%);
    --clr-light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: var(--clr-white);
    background-color: var(--clr-light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 330px;
    margin-block: 32px;
    display: grid;
    gap: 1.25rem;
}

.card{
    padding: 30px;
    border-radius: 10px;
}

.card h2{
    font-weight: 500;
    margin-block: 24px;
    font-size: 20px;
}

.card:nth-child(1){
    background-color: var(--clr-moderate-violet);
}

.card:nth-child(2){
    background-color: var(--clr-very-dark-grayish-blue);
}

.card:nth-child(3), .card:nth-child(5){
    background-color: var(--clr-white);
    color: var(--clr-very-dark-blackish-blue);
    
}

.card:nth-child(4){
    background-color: var(--clr-very-dark-blackish-blue);
}


.card-author{
    display: flex;
    align-items: center;
    
}

.card-author img{
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.card p, .author-name-title span{
    color: var(--clr-light-gray);
    color: var(--clr-light-gray-mt-custom);
}

.card:first-child.quote{
    background-image: url("/images/bg-pattern-quotation.svg");
    background-size: 115px;
    background-position: 90% 0;
    background-repeat: no-repeat;
}

.card:first-child .card-author{
    position: relative;
} 

.svg{
    /* border: 2px solid red; */
    position: absolute;
    right: 0;
    top: -28px;

}



@media all and (min-width: 800px) {


    .container{
        max-width: 750px;
        grid-auto-columns: 1fr;
        grid-template-areas: 
        "one one two"
        "three four four"
        "five five five";
    }

    .card:nth-child(1){
        grid-area: one;
    }
    
    .card:nth-child(2){
        grid-area: two;
    }
    
    .card:nth-child(3){
        grid-area: three;
    }
    
    .card:nth-child(4){
        grid-area: four;
    }

    .card:nth-child(5){
        grid-area: five;
    }
}



@media all and (min-width: 1200px) {
    html, body{
        height: 100%;
    }


    .container{
        max-width: 1100px;
        grid-auto-columns: 1fr;
        grid-template-areas: 
        "one one two five"
        "three four four five";
    }

}